
<div class="container">
    <div>
        <img src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg" alt="JavaScript" style="width: 240px; height: 180px;">
    </div>
    <div style="text-align: left; padding: 2px 50px;">
        <h3>{{ title }} Course</h3>
    </div>
    <div style="text-align: left; padding: 2px 80px;">
        <button (click)="OnEnroll()" style="background-color: yellow; color: black; padding: 10px 20px; border: none; border-radius: 5px;">
            Enroll
        </button>
    </div>
</div>
